body {
    padding-top: 70px;
    margin: 0;   
    background-color: #f9f9f9; 
}

.navbar {
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #EAEAEA;
    transition: all 0.3s ease-in-out;
}   

.navbar-brand {
    padding: 0;
    margin-right: 1rem;
}

.logo-img {
    height: 60px;
    width: auto;
}

.nav-link {
    color: #333 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 15px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
    color: #07B0F2 !important;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #07B0F2;
    transition: width 0.3s ease;
}

.nav-link:hover::after, .nav-link.active::after {
    width: 100%;
}

.navbar-toggler {
    border-color: #07B0F2;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(7, 176, 242, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.tg {
      border-collapse: collapse; 
      border-spacing: 0;
      width: 100%;   
}

.tg td {
      background-color: #fff;
      border-top: 1px solid #ccc; 
      border-left: 1px solid #ccc; 
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 20px;
      word-break: normal;
      text-align: center; 
      vertical-align: middle; 
      transition: background-color 0.3s ease; 
}

.tg th {
      background-color: #f0f0f0;
      color: #333;
      font-size: 14px;
      font-weight: bold;
      overflow: hidden;
      padding: 10px 20px;
      word-break: normal;
      text-align: center; 
      vertical-align: middle; 
      border: none; 
}

.tg .tg-g4gm {
      background-color: #07b0f2;
      color: #ffffff;
      font-size: medium;
}

.tg tr:hover td {
      background-color: #EAEAEA; 
}
